<a href="https://colab.research.google.com/github/bakeralexan/Charity-Funding-Predictor/blob/main/charity_funding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [19]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://raw.githubusercontent.com/bakeralexan/Charity-Funding-Predictor/main/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Determine the number of unique values in each column.

application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [41]:
# Look at APPLICATION_TYPE value counts for binning
application_value_counts = application_df['APPLICATION_TYPE'].value_counts()

In [42]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# application_types_to_replace = ['T9','T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
application_types_to_replace = list(application_value_counts[application_value_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [24]:
# Look at CLASSIFICATION value counts for binning
class_app = application_df['CLASSIFICATION'].value_counts()

In [25]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_app_full = class_app[class_app>1]
class_app_full

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [43]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# classifications_to_replace = ['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1278', 'C1238', 'C1237', 'C1235', 'C7210', 'C1720', 'C2400', 'C4100', 'C1257', 'C1600', 'C0', 'C1260', 'C2710', 'C1234', 'C1246', 'C1267', 'C3200', 'C1256', 'C1370', 'C1236', 'C2190', 'C4200', 'C5200', 'C1248', 'C2600', 'C1580', 'C6100', 'C1820', 'C1900', 'C2570', 'C1570', 'C3700', 'C2500', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C4500', 'C1245', 'C2561', 'C2150']
classifications_to_replace = list(class_app_full[class_app_full < 1000].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [44]:
# Convert categorical data to numeric with `pd.get_dummies`
# columns=['APPLICATION_TYPE',	'AFFILIATION',	'CLASSIFICATION',	'USE_CASE',	'ORGANIZATION',	'SPECIAL_CONSIDERATIONS']
application_dummy = pd.get_dummies(application_df ,dtype=float)
application_dummy

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [46]:
# Split our preprocessed data into our features and target arrays
X = application_dummy.drop(['IS_SUCCESSFUL'], axis=1).values
y = application_dummy['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [47]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [55]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, input_dim=len(X_train[0]), activation="sigmoid"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                3520

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [56]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [57]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 2s 1ms/step - loss: 0.5940 - accuracy: 0.7042
Epoch 2/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5729 - accuracy: 0.7220
Epoch 3/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5674 - accuracy: 0.7236
Epoch 4/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5616 - accuracy: 0.7259
Epoch 5/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5581 - accuracy: 0.7271
Epoch 6/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5562 - accuracy: 0.7278
Epoch 7/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7294
Epoch 8/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7290
Epoch 9/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7296
Epoch 10/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5515 - accuracy: 0.7301
Epoch 11/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7308
Epoch 12/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7314
Epoch 13/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7306
Epoch 14/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7310
Epoch 15/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7320
Epoch 16/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7322
Epoch 17/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7322
Epoch 18/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7320
Epoch 19/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7320
Epoch 20/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7329
Epoch 21/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7329
Epoch 22/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7322
Epoch 23/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7333
Epoch 24/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7329
Epoch 25/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7332
Epoch 26/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7352
Epoch 27/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7332
Epoch 28/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7346
Epoch 29/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7343
Epoch 30/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7339
Epoch 31/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7339
Epoch 32/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7353
Epoch 33/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7346
Epoch 34/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7348
Epoch 35/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7355
Epoch 36/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7345
Epoch 37/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 38/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7353
Epoch 39/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7339
Epoch 40/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7350
Epoch 41/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7355
Epoch 42/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7353
Epoch 43/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7348
Epoch 44/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7354
Epoch 45/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7366
Epoch 46/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7354
Epoch 47/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7364
Epoch 48/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7366
Epoch 49/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7362
Epoch 50/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7367
Epoch 51/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7355
Epoch 52/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7369
Epoch 53/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7367
Epoch 54/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7358
Epoch 55/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7361
Epoch 56/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7367
Epoch 57/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7360
Epoch 58/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7372
Epoch 59/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7373
Epoch 60/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7369
Epoch 61/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7377
Epoch 62/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7363
Epoch 63/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7367
Epoch 64/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7366
Epoch 65/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7374
Epoch 66/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7374
Epoch 67/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7375
Epoch 68/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7380
Epoch 69/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7372
Epoch 70/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7367
Epoch 71/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7374
Epoch 72/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7379
Epoch 73/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7378
Epoch 74/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7386
Epoch 75/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7366
Epoch 76/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7372
Epoch 77/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7376
Epoch 78/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7380
Epoch 79/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7388
Epoch 80/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7374
Epoch 81/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7385
Epoch 82/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7376
Epoch 83/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7382
Epoch 84/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7373
Epoch 85/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7381
Epoch 86/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7389
Epoch 87/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7391
Epoch 88/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7386
Epoch 89/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7383
Epoch 90/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7398
Epoch 91/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7391
Epoch 92/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7383
Epoch 93/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7388
Epoch 94/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7383
Epoch 95/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7386
Epoch 96/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7389
Epoch 97/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 98/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7396
Epoch 99/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7392
Epoch 100/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7400
Epoch 101/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7390
Epoch 102/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7391
Epoch 103/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7392
Epoch 104/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 105/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7395
Epoch 106/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7386
Epoch 107/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 108/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7393
Epoch 109/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 110/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7393
Epoch 111/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7385
Epoch 112/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 113/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7405
Epoch 114/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7403
Epoch 115/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7399
Epoch 116/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7403
Epoch 117/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 118/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7392
Epoch 119/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7395
Epoch 120/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7393
Epoch 121/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7398
Epoch 122/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7403
Epoch 123/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7406
Epoch 124/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 125/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7406
Epoch 126/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7394
Epoch 127/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7400
Epoch 128/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7403
Epoch 129/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7395
Epoch 130/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7392
Epoch 131/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7398
Epoch 132/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7392
Epoch 133/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7393
Epoch 134/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7392
Epoch 135/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7401
Epoch 136/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 137/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7392
Epoch 138/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7400
Epoch 139/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7408
Epoch 140/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 141/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7409
Epoch 142/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7400
Epoch 143/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7406
Epoch 144/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7399
Epoch 145/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7403
Epoch 146/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7400
Epoch 147/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7402
Epoch 148/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7405
Epoch 149/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7402
Epoch 150/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7400
Epoch 151/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7405
Epoch 152/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 153/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7408
Epoch 154/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7407
Epoch 155/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7401
Epoch 156/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7408
Epoch 157/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7400
Epoch 158/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7402
Epoch 159/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7407
Epoch 160/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7409
Epoch 161/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7411
Epoch 162/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 163/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7400
Epoch 164/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7404
Epoch 165/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7411
Epoch 166/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7405
Epoch 167/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7401
Epoch 168/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7411
Epoch 169/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7413
Epoch 170/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7402
Epoch 171/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7411
Epoch 172/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7412
Epoch 173/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7411
Epoch 174/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7403
Epoch 175/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7410
Epoch 176/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7400
Epoch 177/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7398
Epoch 178/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7407
Epoch 179/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7409
Epoch 180/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7404
Epoch 181/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7407
Epoch 182/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5321 - accuracy: 0.7408
Epoch 183/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7407
Epoch 184/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7408
Epoch 185/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7406
Epoch 186/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7417
Epoch 187/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7407
Epoch 188/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7414
Epoch 189/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7413
Epoch 190/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 191/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7415
Epoch 192/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7403
Epoch 193/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7411
Epoch 194/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7411
Epoch 195/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7405
Epoch 196/200

In [58]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5611 - accuracy: 0.7290 - 346ms/epoch - 1ms/step
Loss: 0.5611129999160767, Accuracy: 0.7289795875549316

In [59]:
# Export our model to HDF5 file
nn.save("Charity.h5")